h1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #f2f2f2;
}

#password {
	background-color: white;
	border: 1px solid #666666;
	border-radius: 10px;
	padding: 25px;
	margin-left: 150px;
	margin-right: 150px;
}

#innerBox {
	border: 1px dashed #777777;
	border-radius: 10px;
	padding: 15px;
	height: 80px;
	text-align: center;
}

button {
	margin-top: 20px;
	margin-right: 189px;
	margin-left: 160px;
	background: red;
	border: red;
}

#red {
	background-color: red;
	margin-left: 20px;
}

#gray {
	background-color: #666666;
	margin-left: -15px;
	position: fixed;
}
